<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <!--Deficición de la referencia al servicio web de calculadora a través de su URL-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PacienteSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PacienteSoap1" />
        <binding name="WebService_CitaSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebService_CitaSoap1" />
        <binding name="UsuarioSoap">
          <security mode="Transport" />
        </binding>
        <binding name="UsuarioSoap1" />
        <binding name="DoctorSoap">
          <security mode="Transport" />
        </binding>
        <binding name="DoctorSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44303/WS/Paciente.asmx"
        binding="basicHttpBinding" bindingConfiguration="PacienteSoap"
        contract="ServiceReference_Paciente.PacienteSoap" name="PacienteSoap" />
      <endpoint address="https://localhost:44303/WS/Cita.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService_CitaSoap" contract="ServiceReference_Cita.WebService_CitaSoap"
        name="WebService_CitaSoap" />
      <endpoint address="https://localhost:44303/WS/Usuario.asmx" binding="basicHttpBinding"
        bindingConfiguration="UsuarioSoap" contract="ServiceReference_Usuario.UsuarioSoap"
        name="UsuarioSoap" />
      <endpoint address="https://localhost:44303/WS/Veterinario.asmx"
        binding="basicHttpBinding" bindingConfiguration="DoctorSoap"
        contract="ServiceReference_Vet.DoctorSoap" name="DoctorSoap" />
    </client>
  </system.serviceModel>
</configuration>